{% if user.is_authenticated %}
<!-- ESTE IF SIRVE PARA VER SI INICIO SESSION Y LO PODEMOS VER DIRECTAMENTE EN EL TEMPLATE ahora hace cerrar sesion-->
<h1>BIENVENIDO inicio de session</h1>
<a href='/logout'>cerrar sesion</a>
{% else %}
  <p>Por favor inicie sesion</p>
{% endif %}
{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>BIENVENIDO</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h1>BIENVENIDO</h1>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}
       

                        
