{% extends "../main/layout_gentella.html" %}
{% block title %} Tables {% endblock title %}
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 >SISTEMA DE LICENCIA AMBIENTAL</h2>
                        <!--<h2><marquee>Texto a la IZQUIERDA</marquee></h2>-->
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="x_content" align="center">
                            <img src="/static/images/home.png" width="460" height="460">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block javascripts %}
    {{ block.super }}
    {% endblock javascripts %}