<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>Gentelella Alela! | {% block title %}{% endblock %}</title>

      {% block stylesheets %}
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../static/css/switchery.min.css" rel="stylesheet">
        <link href="../../static/css/style.css" rel="stylesheet">
        <link href="../../static/css/green.css" rel="stylesheet">
        <!--<link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
        <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>-->
      {% endblock stylesheets %}
        <link href="../../static/css/custom.css" rel="stylesheet">
    {% endblock head %}
  </head>

  <body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
      <div class="container body">
        <div class="main_container">

          {% block sidebar %}
            <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
              {% include "./sidebar.html" %}
            </div>
          {% endblock sidebar %}

          {% block top_navigation %}
            <div class="top_nav">
              {% include "./top_navigation.html" %}
            </div>
          {% endblock top_navigation %}

          {% block content %}
            <!-- {{ content }} -->
          {% endblock content %}

          <!--{% block footer %}
            <footer>
              {% include "./footer.html" %}
            </footer>
          {% endblock footer %}-->
        </div>
      </div>

      {% block javascripts %}
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script src="../../static/js/switchery.min.js"></script>
        <script src="../../static/js/fastclick.js"></script>
        <script src="../../static/js/nprogress.js"></script>
        <script src="../../static/js/bootstrap-progressbar.min.js"></script>
        <script src="../../static/js/icheck.min.js"></script>
        <script src="../../static/js/sweetalert.min.js"></script>
        <script src="../../static/js/jspdf.min.js"></script>
        <script src="../../static/js/jspdf.plugin.autotable.js"></script>
        <script src="../../static/js/scripts.js"></script>
        <script src="../../static/js/sendreport.js"></script>
        <!--
        <script src="/static/vendors/moment/min/moment.min.js"></script>
        <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
        <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
        <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
        <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
        <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
        <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <script src="/static/vendors/starrr/dist/starrr.js"></script>-->
      {% endblock %}
        <script src="../../static/js/custom.js"></script>
    {% endblock body %}
  </body>
</html>
