{% extends "../main/layout_gentella.html" %}
{% block title %} Tables {% endblock title %}
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuarios <small>todos los registrados</small></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Registros<small></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Correo</th>
                                        <th>Oficina</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if accounts%}
                                    {% for account in accounts%}
                                    <tr>
                                        <td>{{account.r_id}}</td>
                                        <td>{{account.r_first_name}}</td>
                                        <td>{{account.r_last_name}}</td>
                                        <td>{{account.r_username}}</td>
                                        <td>{{account.r_email}}</td>
                                        <td>{{account.r_name_office}}</td>
                                        <td>
                                            <a href="/deleteuser" class="questionDeleteUser btn btn-warning" rel={{account.r_id}}>borrar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <h1>No hay registros de usuarios</h1>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block javascripts %}
    {{ block.super }}
    {% endblock javascripts %}