{% extends "../main/layout_gentella.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Animate.css -->
  <link href="/static/vendors/animate.css/animate.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
        <div align="center">
        <img src="../../static/assets/images/logoo.png" width="150">
    
        </div>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="POST">
            {%csrf_token%}
            <h1>Login Form</h1>
            <div>
              <!--<input type="text" class="form-control" placeholder="Username" required="" />-->
              {{ form.username }}
            </div>
            <div>
              <!--<input type="password" class="form-control" placeholder="Password" required="" />-->
              {{ form.password }}
            </div>
            <div>
              <button type="submit" class="btn btn-default submit">Log in</button>
              <a class="reset_pass" href="#">Lost your password?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
              
                {% if form.errors %}
                  <p>
                     {{form.non_field_errors}}
                  </p>
                {% endif %}
            </div>
          </form>
        </section>
      </div>

      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <form>
            <h1>Create Account</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Email" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" href="signin.html">Submit</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}


<!--<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>inicio de Sesion</title>
      <link rel="stylesheet" href="../../static/css/style.login.css">
   </head>
   <body>
      <div class="main">
         <div class="header">
         </div>
         <div class="container">
            <form id="booking-form" class="booking-form" method="POST">
                {%csrf_token%}
               <div class="form-group">
                  <div class="form-destination">
                     <label for="destination">Usuario</label>
                     {{ form.username }}
                  </div>
                  <div class="form-destination">
                     <label for="destination">Contrasenia</label>
                     {{ form.password }}
                     <!--{{ form.password.errors }}-->
                  <!--</div>
                  <div class="form-submit">
                     <input type="submit" id="submit" class="submit" value="Iniciar Sesion" />
                  </div>
               </div>
                {% if form.errors %}
                  <p>
                     {{form.non_field_errors}}
                  </p>
                {% endif %}
            </form>
         </div>
      </div>
   </body>
</html>-->