{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
   <div class="">
      <div class="page-title">
         <div class="title_left">
            <h3>Crear Usuario</h3>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <div class="x_title">
                  <h2>Nuevo usuario<small>formulario para crear un nuevo usuario</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                           <li><a href="#">Settings 1</a>
                           </li>
                           <li><a href="#">Settings 2</a>
                           </li>
                        </ul>
                     </li>
                     <li><a class="close-link"><i class="fa fa-close"></i></a>
                     </li>
                  </ul>
                  <div class="clearfix"></div>
               </div>
               <div class="x_content">
                  <br>
                  <form method="post" action="/signup" class="submitform form-horizontal form-label-left">
                     {% csrf_token %}
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombres</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <!--<input type="text" class="form-control" placeholder="Default Input">-->
                           {{ form.first_name }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Apellidos</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <!--<input type="text" class="form-control" placeholder="Default Input">-->
                           {{ form.last_name }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Usuario</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <!--<input type="text" class="form-control" placeholder="Default Input">-->
                           {{ form.username }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Correo Electronico</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <!--<input type="text" class="form-control" placeholder="Default Input">-->
                           {{ form.email }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Oficina</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">

                           {{ form.office }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Contraseña</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <!--<input type="text" class="form-control" placeholder="Default Input">-->
                           {{ form.password1 }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Contraseña Confirmar</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <!--<input type="text" class="form-control" placeholder="Default Input">-->
                           {{ form.password2 }}
                        </div>
                     </div>
                     </div>
                     <div class="ln_solid"></div>
                     <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                           <a href="/home" type="reset" class="btn btn-primary">Cancelar</a>
                           <button  onclick="mensaje();" type="submit" class="btn btn-success">Crear Usuario</button>  
                           <script>
                                 function mensaje(){
                                    swal("successful registration", "You clicked the button!", "success");
                                    location.href = "/home";
                                 }
                        </script>                       
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
