[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
    padding-right: 10px;
}

.close-thik-tag:after {
    content: '✖'; /* UTF-8 symbol */
}
.notfound{
  display: none;
}
.dialog-tag {
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  /*height: 22px;*/
  margin: 5px;
  position: relative;
  width: 200px;
  padding-right: 16px;
  text-align: center;
}
/*
# -> id de un elemento
. -> class de muchos elementos
*/
#notStart{
  background: #a64646 !important;
  color: #fff !important;
}