<section class="content invoice">
   {% for f in formalities%}
   <div class="row">
      <div class="col-xs-12 invoice-header">
         <h1>
            <i class="fa fa-globe"></i> {{f.r_name_formalitie}}.
            <!--<small class="pull-right">Date: 16/08/2016</small>-->
         </h1>
      </div>
   </div>
   <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
         <address>
            <strong>Proceso Siguiente: {{f.r_name_process}}</strong> <br><br>
            <strong>En la Oficina: {{f.r_name_office}}</strong><br><br>
            <strong>Asignar a personal de la oficina {{f.r_name_office}} :</strong>
         {%if f.r_finish%}
            <br>
            El tramite finaliza aqui ya no puede Asignar a otro usuario
         {%else%}
                        <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="assignUsers" id="assignUsers">
                                                {% for u in f.r_users%}
                                                    <option value="{{u.f1}}">{{u.f2}}</option>
                                                {% endfor %}
                                        </select>
                                </div>
                            </div>
         {%endif%}
            <br><br>
            <strong>REQUISITOS:</strong>
         </address>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-12 table">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Estado</th>
                  <th></th>
                  <th style="width: 59%">Requisito</th>
               </tr>
            </thead>
            <tbody>
               {% for u in f.r_requeriments%}
               <tr>
                  <td></td>
                  <td>
                     {%if u.f3%}
                        <span>ENTREGADO</span>
                     {%else%}
                        <span>PENDIENTE</span>
                     {%endif%}
                  </td>
                  <td>
                     {%if u.f3%}
                        <input type="checkbox" class="classRequeriments" name="requeriments" value="{{u.f2}}" checked>
                     {%else%}
                        <input type="checkbox" class="classRequeriments" name="requeriments" value="{{u.f2}}">
                     {%endif%}
                  </td>
                  <td>{{u.f1}}</td>
               </tr>
               {% endfor %}
               <tr>
            </tbody>
         </table>
      </div>
      <!-- /.col -->

         <div class="collapse" id="collapseExample">
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Generar Reporte <small>different form elements</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form target="_blank" id="demo-form2" action="/print-report" method="POST" class="sendreport form-horizontal form-label-left">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >A:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="to" name="to" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">VIA: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="track" name="track" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">DE: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="of" name="of" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <!--aqui sigues poniendo los demas campos que nesecites para el reporte CON ID Y NAME para el lado del backend-->
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancelar</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
         </div>

   </div>
   <div class="row no-print">
      <div class="col-xs-12">
         <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Observar</button>
           <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
         {%if f.r_finish%}
            <a href="/finish-tracing-formalitie" rel="{{f.r_hash}}" class="finishTracing btn btn-warning pull-right"><i class="fa fa-credit-card"></i> Finalizar</a>
         {%else%}
            <a href="/send-tracing-formalitie" rel="{{f.r_hash}}" class="runTracing btn btn-success pull-right"><i class="fa fa-credit-card"></i> Proseguir</a>
         {%endif%}
         <a href="/run-formalities-office"class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Cancelar</a>
      </div>
   {%endfor%}
   </div>
</section>