{% extends "../main/layout_gentella.html" %}
{% block content %}
<div class="right_col" role="main">
<div class="">
<div class="page-title">
<div class="title_center">
</div>
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
      <div class="x_title" align="center">
         <h3>Asignacion de Tramites</h3>
         <ul class="nav navbar-right panel_toolbox">
         </ul>
         <div class="title_right">
            <div class="col-md-12 col-sm-5 col-xs-12 form-group pull-right top_search">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                  </span>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
         <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
               <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Tramites Registrados</a>
               </li>
               <li role="presentation" class=""><a id="notStart" href="#tab_content1_1" role="tab" id="profile-tab1_1" data-toggle="tab" aria-expanded="false">Tramitados NO iniciados </a>
               </li>
               <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">Tramitados iniciados </a>
               </li>
               <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Tramitados  Recibidos</a>
               </li>
               <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Tramites Finalizados</a>
               </li>
            </ul>
            <div id="myTabContent" class="tab-content">
               <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <div class="x_content" id="x_content_formalities">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Nombre del Tramite</th>
                              <th>Titulo</th>
                              <th>Referencia</th>
                              <th>Numero de ruta</th>
                              <th>Procedencia</th>
                              <th>Estado</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for f in formalities%}
                           <tr>
                              <th scope="row">1</th>
                              <td>{{f.r_name}}</td>
                              <td>{{f.r_title}}</td>
                              <td>{{f.r_reference}}</td>
                              <td>{{f.r_route_number}}</td>
                              <td>{{f.r_origin}}</td>
                              <td>{{f.r_state}}</td>
                              <td></td>
                              <td></td>
                              <td>
                                 <a href='/start-formalitie' rel="{{f.r_hash}}" class="tracing btn btn-primary">Iniciar</a>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content1_1" aria-labelledby="profile-tab">
                  <div class="x_content" id="x_content_formalities_not">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Nombre del Tramite</th>
                              <th>Titulo</th>
                              <th>Referencia</th>
                              <th>Numero de ruta</th>
                              <th>Procedencia</th>
                              <th>Estado</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for f in formalitiesNotStart%}
                           <tr>
                              <th scope="row">1</th>
                              <td>{{f.r_name}}</td>
                              <td>{{f.r_title}}</td>
                              <td>{{f.r_reference}}</td>
                              <td>{{f.r_route_number}}</td>
                              <td>{{f.r_origin}}</td>
                              <td>NO INICIADO</td>
                              <td></td>
                              <td></td>
                              <td>
                                 <a href='/start-formalitie' rel="{{f.r_hash}}" class="tracing_not btn btn-primary">Iniciar</a>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="x_content" id="x_content_tracingStatus">
                        <table class="table">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Nombre del Tramite</th>
                              <th>Titulo</th>
                              <th>Referencia</th>
                              <th>Numero de ruta</th>
                              <th>Procedencia</th>
                              <th>Estado</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for f in formalitiesStart%}
                           <tr>
                              <th scope="row">1</th>
                              <td>{{f.r_name}}</td>
                              <td>{{f.r_title}}</td>
                              <td>{{f.r_reference}}</td>
                              <td>{{f.r_route_number}}</td>
                              <td>{{f.r_origin}}</td>
                              <td>{{f.r_state}}</td>
                              <td></td>
                              <td></td>
                              <td>
                                <a href='/status-tracing-formalitie' rel={{f.r_hash}} class="tracingStatus btn btn-primary">Ver Seguimiento</a>                                 
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                    </div>
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab2">
                <div  class = "x_content" id="x_continue_formalities">
                    <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre del Tramite</th>
                                <th>Titulo</th>
                                <th>Referencia</th>
                                <th>Numero de ruta</th>
                                <th>Procedencia</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in formalitiesSend %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{f.r_name}}</td>
                                <td>{{f.r_title}}</td>
                                <td>{{f.r_reference}}</td>
                                <td>{{f.r_route_number}}</td>
                                <td>{{f.r_origin}}</td>
                                <td>{{f.r_state}}</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href='/continue-tracing-formalitie' rel="{{f.r_hash}}" class="continueTracing btn btn-primary">Recibir</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab4">
                <div class="x_content" id="x_content_tracingStatus">
                    <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre del Tramite</th>
                                <th>Titulo</th>
                                <th>Referencia</th>
                                <th>Numero de ruta</th>
                                <th>Procedencia</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in formalitiesFinish %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{f.r_name}}</td>
                                <td>{{f.r_title}}</td>
                                <td>{{f.r_reference}}</td>
                                <td>{{f.r_route_number}}</td>
                                <td>{{f.r_origin}}</td>
                                <td>{{f.r_state}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}