
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>Seguimiento del  Tramite {{formalitie.name}}</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Oficina</th>
                                    <th>Estado</th>
                                    <th>Usuario</th>
                                    <th>Usuario Asignado</th>
                                    <th>Fecha</th>
                            </thead>
                            <tbody>
                                {% for f in formalitie%}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{f.r_name}}</td>
                                        <td>{{f.r_state}}</td>
                                        <td>{{f.r_usuario}}</td>
                                        <td>{{f.r_usuario_assign}}</td>
                                        <td>{{f.r_create}}</td>
                                      </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
