{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>Seguimiento de Tramites de la oficina {{office}}</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="title_right">
                            <div class="col-md-12 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div  class = "x_content" id="x_content_tracingStatus">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Titulo</th>
                                    <th>Referencia</th>
                                    <th>Numero de Ruta</th>
                                    <th>Procedencia</th>
                                    <th>Fecha de Registro</th>
                                    <th></th>
                            </thead>
                            <tbody>
                                {% for f in formalities%}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{f.r_title}}</td>
                                        <td>{{f.r_reference}}</td>
                                        <td>{{f.r_route_number}}</td>
                                        <td>{{f.r_origin}}</td>
                                        <td>{{f.r_created}}</td>
                                        <td>
                                            <a href='/status-tracing-formalitie' rel={{f.r_hash}} class="tracingStatus btn btn-primary">Ver Seguimiento</a>
                                        </td>
                                      </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}