{% extends "../main/layout_gentella.html" %}
{% block content %}
<div class="right_col" role="main">
   <div class="">
      <div class="page-title">
         <div class="title_left">
            <h3>Crear Nuevo Tramite</h3>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <div class="x_title">
                  <h2>Formulario<small>para crear un Tramite</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                           <li><a href="#">Settings 1</a>
                           </li>
                           <li><a href="#">Settings 2</a>
                           </li>
                        </ul>
                     </li>
                     <li><a class="close-link"><i class="fa fa-close"></i></a>
                     </li>
                  </ul>
                  <div class="clearfix"></div>
               </div>
               <div class="x_content">
                  <br />
                  <form method="POST" action="/register-oficces" data-parsley-validate class="submitform form-horizontal form-label-left">
                     {% csrf_token %}
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nameFormalitie">Nombre del Tramite<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input type="text" id="nameFormalitie" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                     </div>
                     <div class="ln_solid"></div>
                     <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                           <a href="/home" type="reset" class="btn btn-primary">Cancelar</a>
                           <button type="button" class="btn btn-success send">Crear Tramite</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <div class="x_title">
                  <h2>Crear Procesos<small>estos son los procesos que debe seguir un tramite</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                           <li>
                              <a class="addProcess">Add Proceso</a>
                           </li>
                           <li>
                              <a href="#">Settings 2</a>
                           </li>
                        </ul>
                     </li>
                     <li><a class="close-link"><i class="fa fa-close"></i></a>
                     </li>
                  </ul>
                  <div class="clearfix"></div>
               </div>
               <div class="x_content">
                  <table class="table" id="tableProcess">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Nombre Proceso</th>
                           <th>Oficina</th>
                           <th>Requisitos</th>
                           <th>Oficina para devolver</th>
                           <th>Operaciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr></tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade bs-addRequeriments-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add Requisitos</h4>
         </div>
         <div class="modal-body">
          <input type='text' id='txt_searchall' placeholder='Buscar Requisito'>
          <br/>
            <table class="table table-bordered" id="tableRequeriments">
              <thead>
                <tr>
                  <th>Requerimiento</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" id="resetRequeriments" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="saveRequeriments">Guardar Pre-requisitos</button>
         </div>
      </div>
   </div>
</div>

<!--<div class="modal fade bs-addRequeriments-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Add Requisitos</h4>
         </div>
         <div class="modal-body">
            <select name="addRequeriments" id="addRequeriments" class="form-control addRequeriments">
               <option selected="true" disabled="disabled">Seleccione un requisito</option>
            </select>
         </div>
         <div class="modal-footer"></div>
      </div>
   </div>
</div>-->
{% endblock content %}