{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>REGISTRO DEL TRAMITE {{formalitie.name}}</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" action="/post-start-formalites" data-parsley-validate class="submitformformalitie form-horizontal form-label-left">
                            <input type="hidden" name="mcb" value="{{id_formalitie}}">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Titulo<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <!--<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">-->
                                    {{form.title}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Referencia<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.reference}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">N°<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.routeNumber}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Procedencia<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.origin}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Fecha de Recepcion<span class="required">*</span>
                                </label>
                                <!--calendario
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="single_cal1" placeholder="First Name" aria-describedby="inputSuccess2Status">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                        </div>
                                        </div>
                                    </div>
                                </fieldset>
                                -->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form.datereceived}}
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Asignar a:<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="assign">
                                                {% for u in users%}
                                                    <option value="{{u.r_id_user}}">{{u.r_first_name}} {{u.r_last_name}}</option>
                                                {% endfor %}
                                        </select>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <ul>
                                    {% for r in requeriments%}
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="requeriments[]" value="{{r.r_id_r}}"><span>{{r.r_name}}</span>
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="reset">Cancel</button>
                                    <button type="submit" class="btn btn-success">Registrar Tramite</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}