{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>TRAMITES DISPONIBLES</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Nombre de Tramites</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% if formalities%}
                             {% for formalitie in formalities%}    
                        <tr>
                           <td>{{formalitie.id}}</td>
                           <td>{{formalitie.name}}</td>
                           <td>
                                <a href="/deleteformalities" class="questionDeleteFormalities btn btn-warning" rel={{formalitie.id}}>Dar de baja</a>
                                <a href="/seeFormalitiesRequeriments" class="btn btn-warning" rel={{formalitie.id}}>Ver requisitos</a>
                           </td>
                           </tr>
                                {% endfor %}
                                {% else %}
                                <h1>No hay tramites registrados</h1>
                                {% endif %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}
       

                        