{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>REQUISITOS DEL TRAMITE {{formalitie.name}}</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" action="/post-start-formalites" data-parsley-validate class="submitformformalitie form-horizontal form-label-left">
                            <input type="hidden" name="mcb" value="{{id_formalitie}}">
                            <div class="form-group">
                                <ul>
                                    {% for r in requeriments%}
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="requeriments[]" value="{{r.r_id_r}}"><span>{{r.r_name}}</span>
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}