{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>Inicio de Tramites de la oficina {{office}}</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Nombre del Tramite</th>
                                <th>Estado</th>
                                <th>Operaciones</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for f in formalities%}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{f.r_name}}</td>
                                        <td>{{f.r_state}}</td>
                                        <td>
                                            <a href='/register-formalitie/{{f.r_id}}' class="btn btn-primary">Iniciar Tramite</a>
                                        </td>
                                      </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}