{% extends "../main/layout_gentella.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_center">
                
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" align="center">
                     <h3>OFICINAS DISPONIBLES</h3>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Nombre de Oficinas</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% if offices%}
                             {% for office in offices%}
                             
                        <tr>
                           <td>{{office.id}}</td>
                           <td>{{office.name}}</td>
                           <td>
                                <a href="/deleteoffice" class="questionDeleteOffice btn btn-warning" rel={{office.id}}>borrar</a>
                           </td>
                           </tr>
                                {% endfor %}
                                {% else %}
                                <h1>No hay oficinas registrados</h1>
                                {% endif %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}
       

                        